<div class="grid grid-cols-[repeat(auto-fill,170px)] sm:grid-cols-[repeat(auto-fill,180px)] gap-3 sm:gap-5 @(Center ? "justify-center" : "")">
	@foreach(var book in Books)
	{
		<BookCard @key="book" Book="book"/>
	}
</div>

@code {
	[Parameter] public required List<Book> Books { get; set; }
	[Parameter] public bool Center { get; set; }
}