#book-header {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-wrap: balance;
}

.cover {
    width: 200px;
    margin: 0 auto;
}

dl#metadata {
    display: grid;
    row-gap: 0.8rem;
    font-size: 1.2rem;
    grid-template-columns: 150px 1fr;
}

dt, dd {
    margin: 0;
}

dt {
    text-transform: uppercase;
    color: var(--mud-palette-text-secondary);
}

.description {
    max-width: 800px;
    text-align: justify;
    line-height: 1.4;
}

#progress-bar {
    background-color: var(--mud-palette-secondary);
}

#progress-bar > div {
    background-color: var(--mud-palette-primary);
}

/* Editing */

/*dt {
    grid-column: 1;
}

dd {
    grid-column: 2;
}*/