@inherits LayoutComponentBase
<MudThemeProvider Theme="Program.Theme" IsDarkMode="true"/>
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<PageTitle>BookHeaven</PageTitle>

@if (_checkingProfile)
{
    return;
}

<div class="flex h-full overflow-hidden relative">
    <MudDrawer @bind-Open="_drawerOpen" Class="lg:!static" Elevation="0">
        <Logo />
        <ProfileButton />
        <NavMenu/>
        <div class="mt-auto p-5">
            <VersionInfo />
        </div>
    </MudDrawer>
    <main class="flex flex-col w-full overflow-y-auto">
        <div class="flex flex-col-reverse lg:flex-row gap-2 sticky top-0 px-2 2xl:px-3 backdrop-blur py-2 lg:py-3 z-20 bg-(--mud-palette-appbar-background)" style="view-transition-name:appbar;">
            <div class="flex items-center gap-3 flex-1">
                <SectionOutlet SectionName="TopBar" />
            </div>
            <div class="flex items-center">
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.False" OnClick="@((e) => DrawerToggle())"/>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.MdAndDown">
                    <MudSpacer />
                </MudHidden>
                <SearchBar/>
                
                @if (!_uploadingBooks)
                {
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadBooks" Class="!m-0">
                        <ActivatorContent>
                            <MudIconButton HtmlTag="label" Icon="@Icons.Material.Filled.UploadFile" Color="Color.Secondary"/>
                        </ActivatorContent>
                    </MudFileUpload>
                }
                else
                {
                    <div class="flex items-center justify-center mx-3">
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" />
                    </div>
                }
            </div>
        </div>
        <div class="py-2 lg:py-5 md:px-7 relative flex-1">
            <SectionOutlet SectionName="Toolbar" />
            @Body
        </div>
        <SectionOutlet SectionName="BottomToolbar" />
    </main>
</div>