@inherits LayoutComponentBase
<MudThemeProvider Theme="_theme" IsDarkMode="true"/>
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<PageTitle>BookHeaven</PageTitle>
<div class="tw:flex tw:h-full tw:overflow-hidden tw:relative">
    <MudDrawer @bind-Open="_drawerOpen" Class="tw:lg:!static" Elevation="0">
        <NavMenu />
    </MudDrawer>
    <main class="tw:flex tw:flex-col tw:w-full tw:overflow-y-auto">
        <div class="tw:sticky tw:top-0 tw:backdrop-blur tw:py-1 tw:lg:py-3 tw:z-20 tw:bg-(--mud-palette-appbar-background)" style="view-transition-name:appbar;">
            <div class="tw:flex tw:items-center">
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.False" OnClick="@((e) => DrawerToggle())"/>
                </MudHidden>
                <MudSpacer/>
                <MudStack
                    Row="true"
                    Spacing="1">
                    <SearchBar/>

                    <MudFileUpload T="IBrowserFile" FilesChanged="UploadBook" Class="!tw:m-0">
                        <ActivatorContent>
                            <MudIconButton HtmlTag="label" Icon="@Icons.Material.Filled.UploadFile" Color="Color.Secondary"/>
                        </ActivatorContent>
                    </MudFileUpload>
                </MudStack>
            </div>
            <SectionOutlet SectionName="TopBar" />
        </div>
        <div class="tw:py-2 tw:lg:py-5 tw:md:px-7 tw:relative tw:flex-1">
            <SectionOutlet SectionName="Toolbar" />
            @Body
        </div>
    </main>
</div>