@inherits LayoutComponentBase
<MudThemeProvider Theme="Program.Theme" IsDarkMode="true"/>
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<PageTitle>BookHeaven</PageTitle>

<div class="flex flex-col h-full overflow-hidden bg-gradient-to-br from-transparent to-slate-700">
	<Logo />
	@Body
</div>